@import "../../system-variables.scss";

// Create Text Styles
.System {
  @each $level, $remCalc in $type-scale {
    $levelName: "Level" +#{$level};
    $fontSize: $text-base * $remCalc;

    .#{$levelName} {
      @each $alignment in $text-align {
        $styleName: $levelName + $alignment;

        .#{$styleName} {
          font-size: $fontSize;
          text-align: $alignment;
          vertical-align: middle;
          line-height: 1.3;
          font-weight: 400;

          font-family: $font-system;

          color: $gray-100;
        }
      }
    }
  }
}
